*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/46933.png");

    background-size:cover;
}

header{
    color: black;
}

.juncao{
    background-color: LightGrey;
    color: black ;
    width: 50%;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px orange;
    margin-top: 130px;
    margin-left: 300px;
}

h1{
    color: CadetBlue;
    font-family: fantasy;
    text-align: center;
    padding-top: 10px;
    
}

ul{
    display: flex;
    
    
}

a{
    color: MediumSlateBlue;
}

.sobre{
    margin-left: 80px;
    margin-top: 10px;
    color: red
    
}

.contato{
    margin-left: 100px;
    margin-top: 10px;
    color: blue;
   
}

.pg{
    margin-left: 150px;
    margin-top: 10px;
    color: violet;
}

h2{
    padding-top: 30px;
    color: MediumSlateBlue;
    font-family: fantasy;
    padding-left: 5px;
}

form{
    display:grid;
    width: 300px;
    padding-top: 30px;
    padding-left: 5px;
    
}

label{
    padding-top: 2px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;  
}

#nome{
    border-radius: 7px;
    border: 2px solid black ;
    box-shadow: 2px 2px 2px orange;
}

#email{
    border-radius: 7px;
    border: 2px solid black ;
    box-shadow: 2px 2px 2px orange;
}  

#mensagem{
    border-radius:7px;
    border: 2px solid black ;
    box-shadow: 2px 2px 2px orange; 

}

button{
    margin-top: 27px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px yellowgreen;
    border-radius: 7px;
    height: 30px;
    background-color: YellowGreen;
    transition: transform 200ms ease-in-out;
    margin-left: 5px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
}

footer{
    background-color: LightGrey;
    margin-top: 75px;
    width: 20%;
    margin-left: 3px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px orange;
    
}